{% load static %}
<nav class=" flex md:justify-evenly justify-between p-4 bg-gradient-to-tr from-slate-500 to-blue-950 text-white">
    <!-- logo  -->
    <div class="logo">
            
        <a href="/"> <img src="{% static 'images/favicon_io/favicon-32x32.png' %}" alt="logo"></a>

    </div>

    <!-- middle navigations -->
    <div class="navigation  hidden md:block ">
        <ul class="flex gap-20">
            <li>
                <a class=" p-2 " href="/"> <span><i class="fas fa-angle-down"></i></span> home</a>
            </li>
            <li>
                <a class=" p-2 " href="/about"> <span><i class="fas fa-angle-down"></i></span> about</a>
            </li>
            <li>
                <a class=" p-2 " href="/"> <span><i class="fas fa-angle-down"></i></span> contact</a>
            </li>
            <li>
                <a class=" p-2 " href="/xit_techSummit"> <span><i class="fas fa-angle-down"></i></span> tech summit    </a>
            </li>
        </ul>
    </div>
    <div class="signin">
        signin
    </div>
    <!-- side button for small devices -->
    <div  id='nav-btn' class="btn md:hidden block">
        <button>
            
            <i class="fas fa-bars-staggered"></i>
            
        </button>
    </div>
</nav>