{% load static %}
<nav class=" bg-blue-950 font-light text-white text-xl ">
   <div class=" flex justify-between">
        <ul class="hidden md:flex justify-between p-6 mx-24">
            <li>
                <a href="#">about</a>
            </li>
            <li>
                <a href="#"></a>
            </li>
            <li>
                <a href="#">home</a>
            </li>
            <li>
                <a href="" class="hover:border-b-2 p-2">home</a>
            </li>
            <li class="border-2 border-green-300 rounded-md hover:bg-black/50">
                <a href="#" class="p-4 ">Login</a>
            </li>
        </ul>
   
        <div  class="md:hidden ">
                <i class="fa-solid fa-bars fa-xl"></i>
        </div>
   </div>
</nav>